<!DOCTYPE html>
<html>

<% include partials/header %>

<body>

<div id="wrapper">
<% include partials/sidebar %>


<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">


<% include partials/community_bar %>


<!--====================================================================-->
<style>
.communitymembers-head-btn {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 4px;
    margin-top: 2px;
}
.active-link-btn{
  color:rgb(73, 73, 73) !important;
}
</style>
<div class="container">

<div style="margin-top:20px;margin-bottom:50px">
  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
    <a class="communitymembers-head-btn" onclick="AdminsList()" id="admins-list-btn">
      Admins (<%=(1+community.admins.length)%>)
    </a>
  </div>
  <div class="col-sm-3 col-md-3 col-xs-4 col-lg-2">
    <a class="communitymembers-head-btn" onclick="UsersList()" id="users-list-btn">
      Users (<%=community.members.length%>)
    </a>
  </div>
  <div class="col-sm-12">

  <div id="AdminsDiv">

  <!--   For Owner  -->
      <div class='col-sm-12 col-xs-12 allcoms community-user-div' style='margin-top:5px;'>
           <div class='col-sm-2 col-xs-5' style='padding:5px;'>
               <a href='/viewprofile/<%=community.owner._id%>'>
                 <img src='<%=community.owner.image%>' class='community-member-pic'>
               </a>
               <span class="label label-success">Owner</span>
           </div>
           <div class='col-sm-9 col-xs-7 scrollable'>
               <a class='comusername' href='/viewprofile/<%=community.owner._id%>'><%=community.owner.name%></a>
           </div>
      </div>

  <!--   For Admins  -->
  <%
  for(var i=0;i<community.admins.length;i++)
  {
  %>
      <div class='col-sm-12 col-xs-12 allcoms community-user-div' style='margin-top:5px;'>
          <div class='col-sm-2 col-xs-5' style='padding:5px;'>
            <a href='/viewprofile/<%=community.admins[i]._id%>'>
                <img src='<%=community.admins[i].image%>' class='community-member-pic'>
             </a>
           <span class='label label-warning'>Admin</span>
             </div>
             <div class='col-sm-10 col-xs-7 scrollable'>
                   <a class='comusername' href='/viewprofile/<%=community.admins[i]._id%>'><%=community.admins[i].name%></a>
                  </div>
           </div>

    <%
      }
    %>


    </div>

  <div id="UsersDiv">

    <%
      if(community.members.length==0)
      {
    %>
      <div class='col-sm-12 col-xs-12 allcoms' style='margin-top:5px;border-top: 1px solid #ccc;padding:20px'>
            <div class='alert alert-danger'><center><b>No User Found</b></center></div>
      </div>

    <%
      }
      else
      {
    
      for(var i=0;i<community.members.length;i++)
      {
    %> 

    <div class='col-sm-12 col-xs-12 allcoms community-user-div' style='margin-top:5px;'>
          <div class='col-sm-2 col-xs-5' style='padding:5px;'>
              <a href='/viewprofile/<%=community.members[i]._id%>'>
                  <img src='<%=community.members[i].image%>' class='community-member-pic'>
              </a>
          </div>
          <div class='col-sm-10 col-xs-7 scrollable'>
                <a class='comusername' href='/viewprofile/<%=community.members[i]._id%>'><%=community.members[i].name%></a>
          </div>
    </div>
              
    <%
        }
    }
    %>


    </div>

    </div>
  </div>
</div>

</div>

</div>
</div>
</div>
</div> <!--Header-->
<script src="/javascripts/Common.js"></script>
<script src="/Plugins/js/notie.min.js"></script>

<script>
var selector = '.nav li';
$(selector).removeClass('active');
$('#community-panel-nav').addClass('active');
</script>

<script>

AdminsList();

function AdminsList()
{

  $("#users-list-btn").removeClass('active-link-btn');
  $("#admins-list-btn").addClass('active-link-btn');

  $("#UsersDiv").hide();
  $("#AdminsDiv").show();
}

function UsersList()
{

  $("#admins-list-btn").removeClass('active-link-btn');
  $("#users-list-btn").addClass('active-link-btn');

  $("#AdminsDiv").hide();
  $("#UsersDiv").show();

}

</script>

</body>
</html>
