<!DOCTYPE html>
<html>

<% include partials/header %>

<body>

<div id="wrapper">
<% include partials/sidebar %>


<div id="page-content-wrapper" style="padding:0;margin-top:60px"> <!--Margin Top is new-->
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">


<% include partials/community_bar %>


<div class="container">
<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12" style="padding-bottom:5px;border-bottom:1px solid #c4c4c4">
  <span class="manageCommunity-head-btn" style="cursor: context-menu;">
    Manage Community
  </span>
  <a href="/community/inviteusers/<%=community._id%>" style="float:right;font-weight:600">
    Invite Users
  </a>
  <%
    if(type=="Owner")
    {
  %>
  <a class="pc" href="/community/editcommunity/<%=community._id%>" style="float:right;font-weight:600;margin-right:15px">
    Edit Community
  </a>
    
  <%
    }
  %>

</div>

<div class="col-sm-12 col-xs-12 col-lg-12 col-md-12" style="padding:10px 0 0 0;">

  <div class="col-sm-3 manageCommunity-commuity-div" style="padding:0">
    
      <div class="panel-heading allSidesSoft center-all mobile" style="background:#fff;margin-bottom:5px">
          <a class="btn btn-primary editcommunity-btn" href="/community/editcommunity/<%=community._id%>">
            Edit Commuity
          </a>
      </div>
    
    <div class="panel-body allSidesSoft" style="background:#fff">
        <a class="manageCommunity-child-btn manageCommunity-btn-active" onclick="UsersList('<%=type%>','<%=community._id%>')" id="UsersShowBtn">
          Users (0)
        </a>
        <br>
        <a class="manageCommunity-child-btn" onclick="AdminsList('<%=type%>','<%=community._id%>')" id="AdminsShowBtn">
          Admins (0)
        </a>
        <%
        if(community.rule=="Permission")
        {
        %>
          <br>
          <a class="manageCommunity-child-btn" onclick="RequestsList('<%=type%>','<%=community._id%>')" id="RequestsShowBtn">
            Requests (0)
          </a>
        <%
        }
        %>
        <br>
        <a class="manageCommunity-child-btn" onclick="InvitedUsersList('<%=type%>','<%=community._id%>')" id="InvitedUserShowBtn">
          Invited Users (0)
        </a>
        
    </div>
    <br />
  </div>
  <div class="col-sm-9">
    <div id='comlist'>


    </div>
  </div>
</div>


</div> <!--Header-->
<script src="/javascripts/Common.js"></script>
<script src="/Plugins/js/notie.min.js"></script>
<script src="/javascripts/manage_community.js"></script>

<script>
UsersList('<%=type%>','<%=community._id%>');
</script>

<script>
var selector = '.nav li';
$(selector).removeClass('active');
$('#community-panel-nav').addClass('active');
</script>




  </body>
</html>
